{% extends "base.html" %}

{% load staticfiles %} 

{% block javascript %}
<script >
    

	      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      var videotime = 0;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        setTimeout('checkit()', 5000);       

      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        // if (event.data == YT.PlayerState.PLAYING && !done) {
        //   setTimeout(stopVideo, 6000);
        //   done = true;
        // }     
      }
      function checkCorrectSlide(currentPosition) {
        // if (currentPosition < currentSlideStart || currentPosition > currentSlideEnd) {
        //   findStartAndEnd(currentPosition);
        //   }
        document.getElementById("time").innerHTML = currentPosition;
        
        // if(tiempo <= currentPosition):
        //   for (var i = 0; i < imagenes.length; i++) {
        //      n += i;
        //      findStartAndEnd(imagenes);
        //   }        
           
      
      }
     
      function procesar(imagenes,inicio,fin,time)
      {

        tiempo_actual = time
        for (var i = 0; i < imagenes.length; i++) { 
          if(inicio[i] < tiempo_actual && tiempo_actual < fin[i]){
              findStartAndEnd(imagenes[i])
              console.log(i);
              console.log(inicio[i]);
              console.log(fin[i]);
          }

        }    
      }

      function findStartAndEnd(currentSlideURL) {

    //    var index=Math.floor((Math.random()*imagenes.length));
        $("#slide_image").attr('src',currentSlideURL);
      }


</script>

    <script>      
      function stopVideo() {
        player.stopVideo();
      }

      function ChangeCP(newtime) {
        player.seekTo(newtime);
      }

      function checkit() {
       
        setTimeout('checkit()', 5000);

        function updateTime() {
          var oldTime = videotime;
          if(player && player.getCurrentTime) {
            videotime = player.getCurrentTime();
            checkCorrectSlide(videotime);
            procesar(imagenes,inicio, fin,videotime )
          }
        }
        timeupdater = setInterval(updateTime, 5000);
      }

      
     </script>

{% endblock %}

{% block content %}

<div id="presentacion" class="window">
	<div id="panel1" class="window">
		{% for video in conf %}
			<iframe id="player" type="text/html" width="480" height="360" 
			src="http://www.youtube.com/embed/{{ video.url_video}}?enablejsapi=1" 
			frameborder="0"></iframe>
		{% endfor %}	
	</div>

  <div id="middlearea" class="window">
  </div>

	<div id="panel2">		
    <h3>Current Time: <span id="time"></span></h3>
    <img id="slide_image" style="height:100%;width:100%" src="">;  
	</div>
  
  
    <script>
      var imagenes = new Array();
      var inicio = new Array();
      var fin = new Array();
      i = 0
      {% for item in items %}         
        imagenes[i] = "{{ item.0 }}"
        inicio[i] = "{{ item.1.0 }}"
        fin[i] = "{{ item.1.1 }}"
       
        //var tiempo = new Array("{{ item.1.0 }}");
        i = i+1
      {% endfor %}
      
    
    </script>
 


  <div id="panel3">
    {% for item in items %} 
      <ol>
        <li><a href='javascript: ChangeCP("{{ item.1.0 }}")'>{{ item.1.0 }}<a></li>
      </ol>    
    {% endfor %}
  </div> 


</div>
<div id="zenContainerForMiddleMenu">

	<div id="middlemenu" class="window">
	<center><a href="javascript:showOutline();" title="More options">
		<img border=0 src="{% static 'imagenes/more.png' %}"></a><br><br>
		<img border=0 id="sizebutton" title="Drag and size" src="{% static 'imagenes/size.png' %}"></center>
	</div>

	<div id="zenContainerForMiddleMenuDragging">
	</div>
</div>

{% endblock %}