{% extends "base.html" %}

{% load staticfiles %} 

{% block javascript %}
	<script>
		var video = document.getElementById("videoPlayer");
		function playPause() { 
		    if (video.paused) 
		        video.play(); 
		    else 
		        video.pause(); 
		}
		function reload() { 
		   video.load(); 
		}
		function makeLarge() { 
		    video.width = 1000; 
		}
		function makeSmall() { 
		    video.width = 250; 
		} 
		function makeNormal() { 
		    video.width = 500; 
		}



	</script>
{% endblock %}

{% block content %}


<div id="video" class="text-center">
	<div class="overlay">
		<div id="container">
			{% for video in tiempo %}
				<h3 class="titulo">{{video}}</h3>	
			{% endfor %}

		</div>
	</div>	
</div>				


{% endblock %}