{% extends "base.html" %}

{% load staticfiles %} 

{% block javascript %}
	<script type="text/javascript">

		function Calcular()
		{
		    var slides={{items|length}};
			$("#tiempo_duracion_0").val(parseInt($("#tiempo_fin_0").val())-parseInt($("#tiempo_inicio_0").val()));
			
			for (var i = 1; i<slides;i++) {
				$("#tiempo_inicio_"+i).val($("#tiempo_fin_"+(i-1)).val());
				$("#tiempo_duracion_"+i).val(parseInt($("#tiempo_fin_"+i).val())-parseInt($("#tiempo_inicio_"+i).val()));
			}

		}	

	</script>
{% endblock %}



{% block content %}

<div id="video" class="text-center">
	<div class="overlay">
		<div class="container">
			<div class="section-title center">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<td>Video</td>
								<td>Miniatura</td>
								<td>Inicio</td>
								<td>Fin</td>
								<td>Duracion</td>
							</tr>
							
						</thead>
						<tbody>
							{% if conf %}
								{% for video in conf %}
								<tr>
									<td rowspan="{{ video|length }}"><iframe class="youtube-player" type="text/html" width="450" height="250"  src="https://www.youtube.com/embed/{{ video.url_video}}" frameborder="0"></iframe>
									<a class="btn btn-primary" align="center" href="/conferencia/{{video.conferencia_id}}">Vista Previa</a>	
									<span id="total">0</span>			
									</td>									
								</tr>
								{% endfor %}	
								{% for item in items %}	
								<tr>
									<td><img src="{{ item.0 }}" width="200" alt="imagen" /></td>	
									<td><input type="text" name="tiempo_inicio_{{forloop.counter0}}" size="9" id="tiempo_inicio_{{forloop.counter0}}" class="item" value="{{ item.1.0 }}" disabled></td>
									<td><input type="text" name="tiempo_fin_{{forloop.counter0}}" size="9" id="tiempo_fin_{{forloop.counter0}}" class="item" value="{{ item.1.1 }}" onChange="Calcular();"></td>	
									<td><input type="text" name="tiempo_duracion_{{forloop.counter0}}" size="9" id="tiempo_duracion_{{forloop.counter0}}" class="res" value="{{ item.1.2 }}" disabled></td>									
								<tr>	
								{% endfor %}								
							
							{% else %}
								<h1>No hay registros de Conferencias</h1>
							{% endif %}
						</tbody>
					</table> 
				</form>	
			</div>
		</div>
	</div>	
</div>

{% endblock %}